[mysqld]
host_cache_size=0
authentication_policy=caching_sha2_password
innodb_buffer_pool_size = 1G # Adjust depending on your server's memory
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
secure_file_priv = /var/lib/mysql-files/
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
general_log = 0
general_log_file = /var/log/mysql/mysql.log
